.nav-container.sticky {
  position: fixed;
  top: 20px;
  width: fit-content;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.change-Mode.sticky {
  position: fixed;
  top: 20px;
  z-index: 1000;
  right: 6vw;
}

@media only screen and (max-width: 992px) {
  .change-Mode.sticky {
    right: 4vw;
  }
}
